[submodule "Externals/tokenizer-cpp"]
	path = Externals/tokenizer-cpp
	url = https://github.com/RadMoustic/tokenizers-cpp.git
[submodule "Externals/hnswlib"]
	path = Externals/hnswlib
	url = https://github.com/nmslib/hnswlib.git
[submodule "Externals/quazip"]
	path = Externals/quazip
	url = https://github.com/stachenov/quazip.git
